<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal" method="POST" role="form" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include "app/includes/form_input.html" with form_element=form_e %}
                            <button type="submit" class="btn btn-primary">{{ action_name }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>