<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>USERNAME</th>
            <th>UPDATE</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        {% for user in u_list %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{% url 'details-page' user.id %}">{{ user.username }}</a></td>
                <td><a href="{% url 'update-user' user.id %}">Edit</a></td>
                <td>
                    <form action="{% url 'delete-user' user.id %}" method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="btn btn-outline-secondary" type="submit">DELETE</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>