{% extends "app/base/base.html" %}

{% block title %}{{ user.username }} {% endblock %}

{% block body %}

    {% include "app/includes/nav.html" %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <h6>{{ user.profile }}</h6>
                        </div>
                        <div class="card-body">
                            <img class="img-thumbnail" src="{{ user.profile.url }}" alt="User profile">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3>{{ user.username }} Info [READ]</h3>
                    <hr>
                    <table class="table table-success">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>USERNAME</th>
                                <th>EMAIL</th>
                                <th>LOCATION</th>
                                <th>GENDER</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.location }}</td>
                                <td>{{ user.gender }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock %}