{% extends "app/base/base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include "app/includes/nav.html" %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>List of users [READ]</th>
                            <th><a href="{% url 'add-user' %}">CREATE</a></th>
                        </tr>
                    </thead>
                </table>
                <hr>
                {% include "app/includes/table.html" with u_list=users_list %}
            </div>
        </div>
    </div>
{% endblock %}